In [1]:
#  1. Importing pandas
import pandas as pd

#  2. Creating a DataFrame manually
data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 40],
    "City": ["New York", "Los Angeles", "Chicago", "Houston"]
}
df = pd.DataFrame(data)

#  3. Display the first few rows
print(df.head())

#  4. Get basic info and statistics
print(df.info())
print(df.describe())

#  5. Reading a CSV file (uncomment when file is available)
# df = pd.read_csv('your_file.csv')

#  6. Selecting columns
print(df["Name"])           # Single column
print(df[["Name", "Age"]])  # Multiple columns

#  7. Filtering rows (e.g., Age > 30)
print(df[df["Age"] > 30])

#  8. Add a new column
df["Age in 5 Years"] = df["Age"] + 5
print(df)

#  9. Grouping (Example: count by City)
grouped = df.groupby("City").size()
print(grouped)

# 10. Exporting to CSV
df.to_csv("output.csv", index=False)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes
None
             Age
count   4.000000
mean   32.500000
std     6.454972
min    25.000000
25%    28.750000
50%    32.500000
75%    36.250000
max    40.000000
0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston
      Name  Age         City  Age in 5 Years
0    Alice   25     New York              30
1      Bob   30  Los Angeles              35
2  Charlie   35      Chicago              40
3    David   40      Houston              45
City
Chicago        1
Houston        1
Los Angeles    1
New York       1
dtype: int64

In [2]:
import pandas as pd

# Create two DataFrames with same columns (row-wise concat)
df1 = pd.DataFrame({
    'ID': [1, 2],
    'Name': ['Alice', 'Bob']
})

df2 = pd.DataFrame({
    'ID': [3, 4],
    'Name': ['Charlie', 'David']
})

# Concatenate vertically
result = pd.concat([df1, df2], ignore_index=True)
print("Vertical Concatenation:\n", result)

# Create two DataFrames with same index (column-wise concat)
df3 = pd.DataFrame({
    'Age': [25, 30]
}, index=[0, 1])

# Concatenate horizontally
result_horizontal = pd.concat([df1, df3], axis=1)
print("\nHorizontal Concatenation:\n", result_horizontal)

Vertical Concatenation:
    ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David

Horizontal Concatenation:
    ID   Name  Age
0   1  Alice   25
1   2    Bob   30